$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

#map-canvas {
    margin: 0;
    padding: 0;
    height: 700px;
    width: 100%;
}